<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"] | Book Store</title>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
</head>
<body>

    <header class="sticky-top">
        <nav class="navbar navbar-expand-lg " style="background-color: #e3f2fd;">
            <div class="container-fluid">
                <a class="navbar-brand" href="~/">
                    <img asp-append-version="true" src="~/images/logo.jpg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
                    AlMajd
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link @Html.IsActive("Home","Index")" aria-current="page" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @Html.IsActive("Home","AboutUs")" asp-controller="Home" asp-action="AboutUs">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @Html.IsActive("Home","ContactUs")" asp-controller="Home" asp-action="ContactUs">Contact</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle @Html.IsActive("Book","GetBooks")" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Book
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item @Html.IsActive("Book","GetBooks")" asp-controller="Book" asp-action="GetBooks">Books</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled">Disabled</a>
                        </li>
                    </ul>
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>

       
        @RenderSection("breadcrumb",required:false)

    </header>
     

    <main role="main">
        <div>
            @RenderBody()
        </div>
    </main>

    <div class="container mt-5" style="background-color: #e3f2fd;">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 border-top">
            <p class="col-md-4 mb-0 text-muted">© @DateTime.Now.Year Almajd, Inc</p>

            <a href="~/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                <img asp-append-version="true" class="bi me-2" width="60" height="60" src="~/images/logo.jpg" />
            </a>

            <ul class="nav col-md-4 justify-content-end">
                <li class="nav-item"><a asp-controller="Home" asp-action="Index" class="nav-link px-2 text-muted">Home</a></li>
                <li class="nav-item"><a asp-controller="Home" asp-action="AboutUs" class="nav-link px-2 text-muted">About Us</a></li>
                <li class="nav-item"><a asp-controller="Home" asp-action="ContactUs" class="nav-link px-2 text-muted">Contact Us</a></li>
            </ul>
        </footer>
    </div>



    <script src="~/lib/jquery/jquery.js" asp-append-version="true"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.bundle.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("scripts",required:false)
</body>
</html>
