@model BookVM
@{
    ViewData["Title"] = "Book details";
}

@section breadcrumb{
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb text-bg-light">
        <li class="breadcrumb-item">Book</li>
        <li class="breadcrumb-item">@ViewData["Title"]</li>
        @if(Model != null){
        <li class="breadcrumb-item active" aria-current="page">@Model.title by @Model.author</li>
        }
        else{
        <li class="breadcrumb-item active" aria-current="page">No Book Founded</li>
        }

    </ol>
</nav>
}

<div class="container">
    <h3 class="text-center display-5 fw-bold py-3">@ViewData["Title"]</h3>
    <div class="row">
        @if (Model != null)
        {
            <div class="col-md-6">
                <div id="carouselExampleControls" class="carousel carousel-dark slide " data-bs-ride="carousel">

                    @if (Model.galleryVm.Any())
                    {
                        <div class="carousel-indicators">
                            @for (var i = 0; i < Model.galleryVm.Count(); i++)
                            {
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="@i" class="@(i == 0 ?"active" : "")" aria-current="true" aria-label="Slide 1"></button>
                            }
                        </div>
                        <div class="carousel-inner">
                            @for (var i = 0; i < Model.galleryVm.Count(); i++)
                            {
                                <div class="carousel-item @(i == 0 ?"active" : "")">
                                    <img asp-append-version="true" src="@Model.galleryVm[i].photoPath" class="rounded mx-auto d-block w-75 img-thumbnail" alt="@Model.galleryVm[i].name">
                                </div>
                            }
                        </div>
                    }
                    else
                    {
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img asp-append-version="true" src="~/images/img1.jpg" class="rounded mx-auto d-block w-75 img-thumbnail" alt="...">
                            </div>

                        </div>
                    }
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="col-md-6">
                <ul class="list-group">
                    <li class="list-group-item active" aria-current="true">Title: @Model.title</li>
                    <li class="list-group-item">Author: @Model.author</li>
                    <li class="list-group-item">Description: @Model.description</li>
                    <li class="list-group-item">Pages: @Model.page</li>
                    <li class="list-group-item">Category: @Model.category</li>
                    <li class="list-group-item">Language: @Model.languageName</li>
                    <li class="list-group-item"><a href="@Model.bookPDFPathToDB" target="_blank" class="btn btn-outline-primary d-block">Read Book</a></li>
                </ul>
            </div>
        }
        else
        {
            <h3 class="h3 text-center text-danger">No Book Founded</h3>
        }

    </div>
</div>
@if (Model != null)
{
    <div class="container">
        <h3 class="text-center display-5 fw-bold py-5">Similar Books</h3>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                 <partial name="_BookThumbnailPV" model="new BookVM()"></partial>
            </div>
            <div class="col">
                 <partial name="_BookThumbnailPV" model="new BookVM()"></partial>
            </div>
            <div class="col">
                 <partial name="_BookThumbnailPV" model="new BookVM()"></partial>
            </div>
        </div>
    </div>
}
